.main-tab-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  height: 40px;
  >div {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    >a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}